
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1>
<hr/>

<h3>Admin panel sayfasına hoşgeldiniz!</h3>

<ul>
    <li><a asp-controller="Hakkimdas" asp-action="Index" class="btn btn-success">Hakkımda sayfası yönetimi</a></li>
    <li><a asp-controller="Projelers" asp-action="Index" class="btn btn-success">Proje sayfası yönetimi</a></li>
    <li><a asp-controller="Iletisims" asp-action="Index" class="btn btn-success">Gelen Mesajlar sayfası yönetimi</a></li>
</ul>

